body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header, footer {
    background-color: #000000;
    color: #008f00;
    text-align: center;
    padding: 10px 0;
  }
  
  header h1, footer p {
    margin: 0;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    color: #333;
  }
  
  button {
    background-color: #00a100;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #365577;
  }
  
  #recipeContent {/* makes blank by default */
    display: none;
  }
  
  footer {
    background-color: #000000;
  }
  
  footer p {
    font-size: 14px;
  }